@import url('https://fonts.googleapis.com/css2?family=ubuntu:wght@300;400;500;700&display=swap');
:root
{
	/*--primary-color: rgb(11, 78, 179);*/
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
*,
*::before,
*::after
{
	box-sizing: border-box;
}
body
{
	font-family: 'ubuntu', sans-serif;
	/*font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
	margin: 0;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

/* Global Styling */
label
{
	display: block;
	margin-bottom: 0.5rem;
}
input
{
	display: block;
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}
.width-50
{
	width: 50%;
}
.ml-auto
{
	margin-left: auto;
}
.text-center
{
	text-align: center;
}

/* Progressbar */
.progressbar
{
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin: 2rem 0 4rem;
}
.progressbar::before, .progress
{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: var(--grey);
	z-index: -1;
}
.progress
{
	background-color: var(--blue);
	width: 0%;
	transition: 0.3%;
}
.progress-step
{
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: var(--grey);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress-step::before
{
	counter-increment: step;
	content: counter(step);
}
.progress-step::after
{
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	color: var(--grey);
}
.progress-step-active
{
	background-color: var(--blue);
	color: var(--white);
}

/* Form */
.form
{
	width: clamp(320px, 30%, 430px);
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
	border-radius: 0.35rem;
	padding: 1.5rem;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	background: var(--white);
}
.form-step
{
	display: none;
	transform-origin: top;
	animation: animate .5s;
}
.form-step-active
{
	display: block;
}
.input-group
{
	margin: 2rem 0;
}

@keyframes animate
{
	from {
		transform: scale(1, 0);
		opacity: 0;
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

/* Button */
.btns-group
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}
.btn
{
	padding: 0.75rem;
	display: block;
	text-decoration: none;
	background-color: var(--blue);
	color: var(--white);
	text-align: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3%;
}
.btn:hover
{
	box-shadow: 0 0 0 2px var(--white), 0 0 0 3px var(--blue);
}
