@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root
{
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
	--red: #e1251b;
	--red1: #f61206;
}
body
{
	min-height: 100vh;
	overflow-x: hidden;
}
.container
{
	position: relative;
	width: 100%;
}
.navigation
{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--red);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active
{
	width: 80px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
	color: var(--red);
}
.navigation ul li a .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon ion-icon
{
	font-size: 1.75em;
}
.navigation ul li a .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}

/* main */
.main
{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}
.main.active
{
	width: calc(100% - 80px);
	left: 80px;
}
.topbar
{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.toggle
{
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}
.search
{
	position: relative;
	width: 400px;
	margin: 0 10px;
}
.search label
{
	position: relative;
	width: 100%;
}
.search label input
{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	outline: none;
	border: 1px solid var(--black2);
}
.search label ion-icon
{
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.2em;
}
.user
{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}
.user img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardBox
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}
.cardBox .card
{
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers
{
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--red);
}
.cardBox .card .cardName
{
	color: var(--black2);
	font-size: 1.1em;
	margin-top: 5px;
}
.cardBox .card .iconBx
{
	font-size: 3.5em;
	color: var(--black2);
}
.cardBox .card:hover
{
	background: var(--red);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
	color: var(--white);
}
.details
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 30px;
	/*margin-top: 10px;*/
}
.details .recentDetails
{
	position: relative;
	display: grid;
	min-height: 500px;
	background: var(--white);
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
.cardHeader
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.cardHeader h2
{
	font-weight: 600;
	color: var(--red);
}
.btn
{
	position: relative;
	padding: 5px 10px;
	background: var(--red);
	text-decoration: none;
	color: var(--white);
	border-radius: 6px;
}
.details table
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}
.details table thead td
{
	font-weight: 600;
}
.details .recentDetails table tr
{
	color: var(--black1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentDetails table tr:last-child
{
	border-bottom: none;
}
.details .recentDetails table tbody tr:hover
{
	background: var(--red);
	color: var(--white);
}
.details .recentDetails table tr td
{
	padding: 10px;
}
.details .recentDetails table tr td:last-child
{
	text-align: end;
}
.details .recentDetails table tr td:nth-child(2)
{
	text-align: end;
}
.details .recentDetails table tr td:nth-child(3)
{
	text-align: center;
}
.totalRegister
{
	position: relative;
	display: grid;
	min-height: 500px;
	padding: 20px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
.circle-wrap
{
	margin: 50px auto;
	width: 150px;
	height: 150px;
	background: var(--black2);
	border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill
{
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}
.circle-wrap .circle .mask
{
	clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill
{
	clip: rect(0px, 75px, 150px, 0px);
	background: var(--red);
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill
{
	animation: fill ease-in-out 3s;
	transform: rotate(126deg);
}
@keyframes fill
{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(126deg);
	}
}
.circle-wrap .inside-circle
{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: var(--white);
	line-height: 130px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	z-index: 100;
	font-weight: 600;
	font-size: 2em;
}
