body
{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: #4e4e4e;
	background: #fff;
}
.card-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	border-radius: 5px;
	padding: 30px 20px;
	background: #fff;
	box-shadow: 10px 10px 15px #eaeaea, -10px -10px 15px #eaeaea;
}
.card-box .card-title h1
{
	font-size: 24px;
	margin: 0 0 15px;
}
.card-box .card
{
	align-items: center;
	display: flex;
}
.card-box .card input[type="radio"]
{
	width: 30px;
	height: 30px;
	-webkit-appearance: none;
	border: 3px solid #999;
	border-radius: 50%;
	margin: 10px 15px 10px 0;
	cursor: pointer;
	position: relative;
}
.card-box .card input[type="radio"]:checked::after
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #3dc7d6;
}
.card-box .card .form-step-active
{
	font-size: 24px;
	margin-right: 15px;
	width: 30px;
	cursor: pointer;
}
.card-box .card span
{
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}
